body{
  min-width: 800px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    font-family: PT Sans,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    background-color: #f2f2f2;
}
.container{
    display: inline-block;
    vertical-align: top;
    min-width: 786px;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 15px 5px rgba(0,0,0,.2);
}
header{
display: inline-block;
width: 1200;
}
.mountains::after{
  content:"";
  width: 1200px;
  height: 57px;
  background: url(".../img/figure border.png") no-repeat;
}
ul{
  list-style-type: none;
  display: block;
}
a{
  text-decoration: none;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:active{
  color: #766357;
}

.items-without-icons{
  display: block;
  max-width: 1200px;
  background-color: #f2f2f2;
}
.visually-hidden{
  display: none;
}
.site-navigation{
padding: 0;
margin: 0;
font-size: 0;
}
.site-navigation li{
  display: inline-block;
  vertical-align: top;
  list-style: none;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  width: 20%;
  text-align: center;
  font-family: PT Sans,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.city-logo{
    position: absolute;
    top: 0;
    z-index: 10;
    left: 50%;
    margin-left: -69px;
}
.slogan{
  width: 640px;
    padding: 0 75px;
    margin: 0 auto;
    background-color: #fff;
}
/*синие блоки*/
.features-1 .align-left{
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  float: left;
}
.features-1 .align-left .note{
  width: 70%;
  margin: 0 auto;
  color: white;
}
.align-left .note h3{
    margin-top: 54px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    font-size: 21px;
}
.align-left .note p{
  margin-bottom: 25px;
  margin-top: 25px;
}
.align-left .note p:last-of-type{
  margin-bottom: 60px;
}
.align-right{
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  float: right;
}
.align-right .note{
  width: 70%;
  margin: 0 auto;
  color: white;
}
.align-right .note h3{
    margin-top: 54px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    font-size: 21px;
}
.align-right .note p{
  margin-bottom: 25px;
  margin-top: 25px;
}
.align-right .note p:last-of-type{
  margin-bottom: 60px;
}
/* синие блоки всё*/
.items-with-icons{
   margin: 0;
    padding: 0;
    background-color: #fff;
}
.items-with-icons h3{
font-size: 21px;
}
div .forma{
  position: absolute;
    width: 458px;
    padding: 55px;
    padding-top: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
    padding-left: 55px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,.1);
    font-weight: 700;
}
button.braun{
background-color: #766357;
width: 568px;
margin: 0 auto;
padding: 30px 0;
font-size: 21px;
font-weight: 700;
line-height: 26px;
color: #fff;
text-decoration: none;
text-transform: uppercase;
border: none;
}
button .braun:hover{
  background-color: #604e43;
}
button .braun:active{
  background-color: #503e33;
}
input.blue{
  display: block
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  outline: none;
}
input.blue.find{
  width: 457px;
  height: 58px;
}


/*формы с календариком с главной страницы*/
.input-with-icon1{
  width: 345px;
  border: none;
  outline: none;
  min-height: 38px;}
input[name="date-in"] {
  width: 307px;
      max-height: 38px;
      border: none;
      outline: none;
      text-transform: uppercase;
      padding: 12px;
      font-weight: 700;
    -webkit-appearance: none;
    vertical-align: middle;
  background-color: #f2f2f2;}
input [name="calendar-1"] {
  width: 38px;
  height: 38px;
  border: none;
  background: url("../img/svg-sedona/calendar.svg") no-repeat 70% 70%;
background-color: #f2f2f2;}
.input-with-icon1{
  width: 345px;
  border: none;
  outline: none;
  min-height: 38px;}
input[name="date-out"] {
  width: 307px;
      max-height: 38px;
      border: none;
      outline: none;
      text-transform: uppercase;
      padding: 12px;
      font-weight: 700;
    -webkit-appearance: none;
    vertical-align: middle;
  background-color: #f2f2f2;}
input [name="calendar-2"] {
  width: 38px;
  height: 38px;
  border: none;
  background: url("../img/svg-sedona/calendar.svg") no-repeat 70% 70%;
background-color: #f2f2f2;}
button.grey{
font: inherit;
font-size: 24px;
font-weight: bold;
text-align: center;
color: #a9a9a9;
vertical-align: center;
text-transform: uppercase;
background-color: #f2f2f2;
border: none;
width: 38px;
height: 38px;
}
input[name=number-of-persons]{
  font: inherit;
font-size: 14px;
text-align: center;
color: #000000;
vertical-align: center;
text-transform: uppercase;
background-color: #f2f2f2;
border: none;
width: 38px;
height: 38px;
}
input[name="number-of-children"]{
  font: inherit;
font-size: 14px;
text-align: center;
color: #000000;
vertical-align: center;
text-transform: uppercase;
background-color: #f2f2f2;
border: none;
width: 38px;
height: 38px;
}
/*формы с календариком с главной страницы - end*/
footer{margin: 0;
    padding: 0;
    background: rgba(255,255,255,.9);
    text-align: center;}
footer span{
  margin: 47px 0;
font-size: 21px;
font-weight: 700;
line-height: 26px;
width: 33.33%; /*до введения флексов*/
float: left;/*до введения флексов*/
}
.social-links {
  padding-top: 36px;
  width: 33.33%;
  float: left;
}
.social-links a{
display: inline-block;
vertical-align: top;
margin: 0;
padding: 0;
width: 46px;
height: 48px;
margin-right: 5px;
background: #81b3d2;
color: #fff;
text-decoration: none;}
.htmlacademy{
  width: 33.33%;
  float: left;
}
